body{
    background-image: url("minimalbg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.borderImg{
    border: 10px dashed red;
}

.container{
    
    /*background:  darkslateblue;for browsers that don't support gradients*/
    /*Chrome */
    /*background-image: -webkit-linear-gradient(to left, #957DAD,#FEC8D8); */
    /*Opera*/
    /*background-image: -o-linear-gradient(to left, #957DAD,#FEC8D8); */
    /*Firefox*/
    /*background-image: -moz-linear-gradient(to left, #957DAD,#FEC8D8);   */
    /*Standard Syntax*/
    /*background-image: linear-gradient(to left, #957DAD,#FEC8D8); */  
    /*box-shadow: 3px 5px 3px black;*/
    
}

html body div.container h1#foo{
    color: red;
}

[id= "foo"] {
    color: cyan;
}


.container h1{
    color: red;
}

div h1{
    color: green;
}

h1{
    color: green !important;
}



h1, h2, h3{
    
    color:#ffffff;
    text-shadow: 2px 2px 5px black ;
    line-height: 1rem;
    font-family: sans-serif;
}




ul li{
    color: white;
    font-size: 20px;
}

ul > li{
    color: yellow;    
}