
/*######## Defaults ##########*/
nav, 
header, 
footer {
    display:block;
}

body{
    line-height: 1;
    margin: 0;    
}

/*######## Nav Bar ##########*/
nav{
    width: 100%;
    margin: 0;
}

nav ul{
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float: left;
}


ul.topnav li.topnav-right{
    list-style: none;
    float: right;
}

ul.topnav li a{
    display:block;
    text-decoration: none;
    text-transform: uppercase;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    color: #666;
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color: white;
}

ul.topnav li.dropdownIcon{
    display:none;
}



/*######## Mobile ##########*/
@media screen and (max-width: 680px){
    ul.topnav li:not(:nth-child(1)){
        display:none        
    }
    
    ul.topnav li.dropdownIcon{
        display:block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdownIcon{
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive{
        position: relative;
    }
    
    ul.topnav.responsive li{
        display: inline;
        float: none;         
    }
    
    ul.topnav.responsive li a{
        display: block;
        text-align: left;         
    }
    
}
